## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [ ]:
aList = [100, 200, 300, 400, 500]

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [1]:
aList = [100, 200, 300, 400, 500]
reversedList = aList[::-1]
print(reversedList)

[500, 400, 300, 200, 100]

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [15]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list_moi=[list1[0]+list2[0], list1[1]+list2[1], list1[2]+list2[2], list1[3]+list2[3]]
print(list_moi)

['My', 'name', 'is', 'Kelly']

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
# code below this line

# code above this line

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [ ]:
aList = [1, 2, 3, 4, 5, 6, 7]

for i in range(len(aList)):
    aList[i] = aList[i]**2

print(aList)

**Output**

In [ ]:
[1, 4, 9, 16, 25, 36, 49]
# code below this line

# code above this line

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [3]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# code below this line
list3 = [i+j for i in list1 for j in list2]
print(list3)
# code above this line

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [2]:
# In các thành phần trong 2 list theo định dạng
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

# Duyệt qua các phần tử của 2 list theo cặp và in ra
for i in range(len(list1)):
    print(list1[i], list2[-(i+1)])

10 400
20 300
30 200
40 100

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [6]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [8]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# code below this line
def remove_empty_strings(input_list):
    return [string for string in input_list if string != ""]
result = remove_empty_strings(list1)
print(result)
# code above this line

['Mike', 'Emma', 'Kelly', 'Brad']

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range(len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        break

print(list1)

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line

# code above this line

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

**Output:**

In [ ]:
[5, 15, 25, 50]

In [13]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line
for i in range(len(list1)):
    
    if (20 in list1) == False:
        break
    else:
        list1.remove(20)
print(list1)
# code above this line

[5, 15, 25, 50]

## Bài 9: unpack tuple

In [ ]:
aTuple = (10, 20, 30, 40)

In [3]:
aTuple = (10, 20, 30, 40)
a, b, c, d = aTuple
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)

a = 10
b = 20
c = 30
d = 40

## Bài 10: swap tuple
Hãy thay đổi giá trị của 2 tuple cho nhau

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

**Output**

In [ ]:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [13]:
tuple1, tuple2 = tuple2, tuple1
print(tuple1)
print(tuple2)

# code below this line

# code above this line

(11, 22)
(99, 88)

## Bài 11: count occurrence
Hãy đếm tổng số lần xuất hiện của 50 trong tuple

In [ ]:
tuple1 = (50, 10, 60, 70, 50)
occurence = 0
for i in range(len(tuple1)):
    if tuple1[i] == 50:
        occurence += 1

print(occurence)

**Output**

In [ ]:
2

In [ ]:
tuple1 = (50, 10, 60, 70, 50)
# code below this line

# code above this line

## Bài 12: is it the same?
Hãy kiểm tra xem các phần tử trong tuple có giống nhau hay không.

In [ ]:
tuple1 = (45, 45, 45, 45)

**Output**

In [ ]:
True

In [6]:
tuple1 = (45, 45, 45, 45)
# code below this line
same = False
for i in range(len(tuple1)):
    if tuple1[i] == tuple1[i-1]:
        same = True
    else:
        same = False
        break
print(same)

True